<<<<<<< Updated upstream
.wrapper {
    text-align: center;
}

.tiles_wrapper {
    display: inline-block;
    max-width: 800px;
    height: 100%;
    padding: 10px;
}

=======
<<<<<<< Updated upstream
>>>>>>> Stashed changes
.tile {
    display: inline-block;
    position: relative;
    max-width: 233px;
    max-height: 400px;
    margin: 10px;
}

.tile_img {
    max-width: inherit;
    max-height: inherit;
    background-size: cover;

}
<<<<<<< Updated upstream

.tile_heading {
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 15px;
    color: #333333;
}

.btn_like {
    position: absolute;
    right: 10px;
    bottom: 50px;
    width: 28px;
    height: 28px;
    padding: 4px;
    border: 1px solid black;
    border-radius: 6px;
    transition: border-color 0.3s, color 0.3s;
    text-align: center;
    font-size: 16px;
    line-height: 18px;
}

.btn_like:hover {
    cursor: pointer;
    border-color: #ff245d;
    color: #ff245d;
}
=======
=======
.content-wrapper {
    width: 80%;
    height: auto;
    margin: 0 auto;
    padding: 20px;
    background-color: #F2F2F2;
}

.product-title {
    margin-bottom: -3px;
}

.product-time {
    color: #6E6E6E;
    font-size: 12pt;
}

.gallery {
    margin-top: 30px;
    background-color: #E6E6E6;
    text-align: center;
}

.tile_img {
    width: 400px;
    height: auto;
}

hr {
    height: 5px;
    margin: 0 auto;
    background: #ffffff;
    color: white;
}
>>>>>>> Stashed changes
>>>>>>> Stashed changes
