{% include"header.htm"%}

<link rel="stylesheet" href="../css/tile.css">
<div class="wrapper">
    <div class="tiles_wrapper">
        <div id="tile1" class="tile">
            <img class="tile_img" src="../src/products/CC_Shirt_Grils_LightGreen_Front_grande.jpg">
            <p class="tile_heading">girls oversized shirt green</p>
            <div class="btn_like">
                <i class="fa fa-heart"></i>
            </div>
        </div>
        <div id="tile2" class="tile">
            <img class="tile_img" src="../src/products/CC_Shirt_Grils_LightGreen_Front_grande.jpg">
            <p class="tile_heading">girls oversized shirt green</p>
            <div class="btn_like">
                <i class="fa fa-heart"></i>
            </div>
        </div>
        <div id="tile3" class="tile">
            <img class="tile_img" src="../src/products/CC_Shirt_Grils_LightGreen_Front_grande.jpg">
            <p class="tile_heading">girls oversized shirt green</p>
            <div class="btn_like">
                <i class="fa fa-heart"></i>
            </div>
        </div>
        <div id="tile4" class="tile">
            <img class="tile_img" src="../src/products/CC_Shirt_Grils_LightGreen_Front_grande.jpg">
            <p class="tile_heading">girls oversized shirt green</p>
            <div class="btn_like">
                <i class="fa fa-heart"></i>
            </div>
        </div>
        <div id="tile5" class="tile">
            <img class="tile_img" src="../src/products/CC_Shirt_Grils_LightGreen_Front_grande.jpg">
            <p class="tile_heading">girls oversized shirt green</p>
            <div class="btn_like">
                <i class="fa fa-heart"></i>
            </div>
        </div>
        <div id="tile6" class="tile">
            <img class="tile_img" src="../src/products/CC_Shirt_Grils_LightGreen_Front_grande.jpg">
            <p class="tile_heading">girls oversized shirt green</p>
            <div class="btn_like">
                <i class="fa fa-heart"></i>
            </div>
        </div>
        <div id="tile7" class="tile">
            <img class="tile_img" src="../src/products/CC_Shirt_Grils_LightGreen_Front_grande.jpg">
            <p class="tile_heading">girls oversized shirt green</p>
            <div class="btn_like">
                <i class="fa fa-heart"></i>
            </div>
        </div>
        <div id="tile8" class="tile">
            <img class="tile_img" src="../src/products/CC_Shirt_Grils_LightGreen_Front_grande.jpg">
            <p class="tile_heading">girls oversized shirt green</p>
            <div class="btn_like">
                <i class="fa fa-heart"></i>
            </div>
        </div>
    </div>
</div>

{% include"footer.htm"%}
