{% include"header.htm"%}
<div class="wrapper">
    <div class="tiles_wrapper">
        <div id="tile1" class="tile">
            <img class="tile_img" src="{{base_url()}}/src/products/CC_Shirt_Grils_LightGreen_Front_grande.jpg">
            <p class="tile_heading">girls oversized shirt green</p>
            <div class="btn_like">
                <i class="fa fa-heart"></i>
            </div>
        </div>
        <div id="tile2" class="tile">
            <img class="tile_img" src="{{base_url()}}/src/products/CC_Shirt_LightGreen_Front_grande.jpg">
            <p class="tile_heading">OVERSIZED SHIRT GREEN</p>
            <div class="btn_like">
                <i class="fa fa-heart"></i>
            </div>
        </div>
        <div id="tile3" class="tile">
            <img class="tile_img" src="{{base_url()}}/src/products/CollegeShirt_Girls_Front_grande.jpg">
            <p class="tile_heading">GIRLS COLLEGE SHIRT</p>
            <div class="btn_like">
                <i class="fa fa-heart"></i>
            </div>
        </div>
        <div id="tile4" class="tile">
            <img class="tile_img" src="{{base_url()}}/src/products/CroppedHoodie_Burgundy_Front_grande.jpg">
            <p class="tile_heading">CROPPED HOODIE BURGUNDY</p>
            <div class="btn_like">
                <i class="fa fa-heart"></i>
            </div>
        </div>
        <div id="tile5" class="tile">
            <img class="tile_img" src="{{base_url()}}/src/products/CroppedHoodie_Grey_Front_grande.jpg">
            <p class="tile_heading">CROPPED HOODIE GREY</p>
            <div class="btn_like">
                <i class="fa fa-heart"></i>
            </div>
        </div>
        <div id="tile6" class="tile">
            <img class="tile_img" src="{{base_url()}}/src/products/CollegeLongsleeve_Front_grande.jpg">
            <p class="tile_heading">MENS COLLEGE LONGSLEEVE</p>
            <div class="btn_like">
                <i class="fa fa-heart"></i>
            </div>
        </div>
        <div id="tile7" class="tile">
            <img class="tile_img" src="{{base_url()}}/src/products/Crewneck_Grey_Front_grande.jpg">
            <p class="tile_heading">CREWNECK GREY</p>
            <div class="btn_like">
                <i class="fa fa-heart"></i>
            </div>
        </div>
        <div id="tile8" class="tile">
            <img class="tile_img" src="{{base_url()}}/src/products/GirlsPants_Grey_Front_grande.jpg">
            <p class="tile_heading">GIRLS SHORTS GREY</p>
            <div class="btn_like">
                <i class="fa fa-heart"></i>
            </div>
        </div>
    </div>
</div>
{% include"footer.htm"%}
