{% include"header.htm"%}

<div class="content-wrapper">
  <div class="title">
    <h1 class="product-title">GIRLS COLLEGE SHIRT</h1>
  </div>
  <div class="ui grid">
    <div class="doubling two column row">
      <div class="column">

        <div class="gallery">
          <div class="pic">
            <img class="tile_img" src="{{base_url()}}/src/products/CollegeShirt_Girls_Front_grande.jpg" alt="College Shirt Girls Front grande"> </img>
          </div>
          <div class="pic">
            <img class="tile_img" src="{{base_url()}}/src/products/CollegeShirt_Girls_Side_grande.jpg" alt="College Shirt Girls Side grande"> </img>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="info">
          <p class="text">College Shirt</p>
          <p class="text">White/Blue (Farbe)</p>
          <p class="text">Roter Druck auf der Brust</p>
          <p class="text">Jenny ist 1.69 m groß und trägt S</p>
          <hr />
        </div>
        <div class="info">
          <p class="text">100% Baumwolle</p>
          <p class="text">Made in Germany</p>
          <hr />
        </div>
        <div class="status ui segment">
          <div class="status_block">

            <div class="votes">
              <div class="ui indicating progress">
                <div class="bar"></div>
                <div class="label" id="label_votes">{{ vote_number }} VOTES</div>
              </div>

              <div class="ignored">
                <div class="ui icon buttons">
                  <div id="votebutton" class="increment ui basic green button icon"><i class="fa fa-heart"></i></div>
                </div>
              </div>

            </div>

          </div>

				<div class="ui dimmer">
				<div class="content">
				<div class="center">
				<h2 class="ui inverted icon header">
				<i class="heart icon"></i>
				We like that you like!
				</h2>
				</div>
				</div>
				</div>

        </div>

      </div>
    </div>
  </div>
</div>

{% include"footer.htm"%}

<script type="text/javascript">

$( document ).ready(function() {
  $("#votebutton").click( function(){

   $(this).addClass('disabled');
   $('.dimmer').dimmer('closeable', false );

   $.ajax({
      url: "{{ base_url() }}/count/3",
    }).always(function() {
	  $(".dimmer").dimmer('show');
    });
  });
});
</script>
